#produtos-btn-contato {
	background-color: #193046;
	font-size: 24px;
	max-height: 75px;
}

.content-container-products-info{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 150px;
	max-height: 425px;
	height: 50vh;
	padding: 0.5rem;
}

.card-title.produtos {
	font-family: League Spartan;
	font-size: 48px;
	font-weight: 600;
	letter-spacing: 0.2rem;
}

.card-content {
	text-align: center;
}

.card-bold {
	background-color: #193046;
}

.card-light {
	background-color: #2d485f;
}

.readMore {
	justify-self: flex-end;
	color: #fff;
}

.productsCallToAction {
	padding: 0.4rem;
	display: flex;
	justify-content: space-evenly;
}

@media (max-width: 760px) {
	.productsCallToAction{
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.5rem;
		align-items: center;
	}
}
