#sobre-container {
	background-image: url('../../../public/assets/img/logo_background_25.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100vh;
	justify-content: center;
	align-items: center;
}

#sobre-btn-contato {
	background-color: #193046;
	font-size: 24px;
	max-height: 75px;
}

#sobre-icon {
	max-width: 100px;
	max-height: 100px;
}
