<!-- LINHA 1 -->
<div class="row d-flex justify-content-center">
    <!-- CARD 1 -->
    <div class="col-12 col-sm-12 col-lg-8 col-xl-6">
        <div class="card mb-3 ">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="./assets/img/molde-compressao.jpg" class="img-fluid rounded-start">
                </div>
                <div class="col-md-8 d-flex align-items-center">
                    <div class="card-body">
                        <h3 class="card-title fw-bolder">Moldes de Compressão</h3>
                        <hr class="col-8 card-hr" />
                        <p class="card-text">Desenvolvemos moldes de alta qualidade, cuidando de cada etapa
                            do
                            processo, desde o projeto 3D até a confecção, com ajustes para garantir a
                            excelência dos
                            nossos serviços.</p>
                        <hr class="col-8 card-hr" />
                        <a class="btn" href="/produtos" style="margin: 0; padding: 0;">
                            <p class="card-text"><small class="text-body-secondary">Saiba mais</small></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CARD 2 -->
    <div class="col-12 col-sm-12 col-lg-8 col-xl-6">
        <div class="card mb-3 my-sm-3 my-xl-0">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="./assets/img/matriz_card2.jpeg" class="img-fluid rounded-start">
                </div>
                <div class="col-md-8 d-flex align-items-center">
                    <div class="card-body">
                        <h3 class="card-title fw-bolder">Matriz de Extrusão</h3>
                        <hr class="col-8 card-hr" />
                        <p class="card-text">Oferecemos matrizes de extrusão de borracha personalizadas,
                            feitas com
                            materiais de alta qualidade e tecnologia avançada, garantindo precisão,
                            acabamento impecável
                            e desempenho confiável.</p>
                        <hr class="col-8 card-hr" />
                        <a class="btn" href="/produtos" style="margin: 0; padding: 0;">
                            <p class="card-text"><small class="text-body-secondary">Saiba mais</small></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- LINHA 2 -->
<div class="row my-3 d-flex justify-content-center">
    <!-- CARD 3 -->
    <div class="col-12 col-sm-12 col-lg-8 col-xl-6">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="./assets/img/eletroerosao.jpeg" class="img-fluid rounded-start">
                </div>
                <div class="col-md-8 d-flex align-items-center">
                    <div class="card-body">
                        <h3 class="card-title fw-bolder">Eletro-erosão</h3>
                        <hr class="col-8 card-hr" />
                        <p class="card-text">Realizamos corte de formas complexas, furos de alta precisão, acabamentos de alta qualidade e usinagem de pequenos lotes e protótipos, garantindo resultados superiores.</p>
                        <hr class="col-8 card-hr" />
                        <a class="btn" href="/produtos" style="margin: 0; padding: 0;">
                            <p class="card-text"><small class="text-body-secondary">Saiba mais</small></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CARD 4 -->
    <div class="col-12 col-sm-12 col-lg-8 col-xl-6">
        <div class="card mb-3 my-sm-3 my-xl-0">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="./assets/img/usinagem-em-serie.jpeg" class="img-fluid rounded-start">
                </div>
                <div class="col-md-8 d-flex align-items-center">
                    <div class="card-body">
                        <h3 class="card-title fw-bolder">Usinagem em Série</h3>
                        <hr class="col-8 card-hr" />
                        <p class="card-text">Oferecemos diversos serviços de usinagem, como torneamento, fresamento, furação, retificação e tratamentos térmicos, com equipamentos modernos para garantir qualidade e precisão.</p>
                        <hr class="col-8 card-hr" />
                        <a class="btn" href="/produtos" style="margin: 0; padding: 0;">
                            <p class="card-text"><small class="text-body-secondary">Saiba mais</small></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>