<div class="container-fluid my-5">
	<div
		class="carousel carousel-dark slide"
		id="card-carousel"
		data-bs-ride="carousel"
	>
		<div class="carousel-inner">
			<!-- CARD 1 -->
			<div class="carousel-item active">
				<div class="card">
					<img
						src="./assets/img/molde-compressao.jpg"
						class="card-img-top card-imagem-100"
						alt="Moldes de compressão"
					/>
					<div class="card-body">
						<h5 class="card-title">Moldes de compressão</h5>
						<p class="card-text">
							Desenvolvemos moldes de alta qualidade, cuidando de
							cada etapa do processo, desde o projeto 3D até a
							confecção, com ajustes para garantir a excelência
							dos nossos serviços.
						</p>
					</div>
				</div>
			</div>
			<!-- CARD 2 -->
			<div class="carousel-item">
				<div class="card">
					<img
						src="./assets/img/molde1_card1.jpg"
						class="card-img-top card-imagem-100"
						alt="Matrizes de extrusão"
					/>
					<div class="card-body">
						<h5 class="card-title">Matrizes de extrusão</h5>
						<p class="card-text">
							Oferecemos matrizes de extrusão de borracha
							personalizadas, feitas com materiais de alta
							qualidade e tecnologia avançada, garantindo
							precisão, acabamento impecável e desempenho
							confiável.
						</p>
					</div>
				</div>
			</div>
			<!-- CARD 3 -->
			<div class="carousel-item">
				<div class="card">
					<img
						src="./assets/img/eletroerosao.jpeg"
						class="card-img-top card-imagem-100"
						alt="Eletro-erosão"
					/>
					<div class="card-body">
						<h5 class="card-title">Eletro-erosão</h5>
						<p class="card-text">
							Realizamos corte de formas complexas, furos de alta
							precisão, acabamentos de alta qualidade e usinagem
							de pequenos lotes e protótipos, garantindo
							resultados superiores.
						</p>
					</div>
				</div>
			</div>
			<!-- CARD 4 -->
			<div class="carousel-item">
				<div class="card">
					<img
						src="./assets/img/usinagem-em-serie.jpeg"
						class="card-img-top card-imagem-100"
						alt="Usinagem em série"
					/>
					<div class="card-body">
						<h5 class="card-title">Usinagem em série</h5>
						<p class="card-text">
							Oferecemos diversos serviços de usinagem, como
							torneamento, fresamento, furação, retificação e
							tratamentos térmicos, com equipamentos modernos para
							garantir qualidade e precisão.
						</p>
					</div>
				</div>
			</div>
		</div>
		<button
			class="carousel-control-prev btn-carousel"
			type="button"
			data-bs-target="#card-carousel"
			data-bs-slide="prev"
		>
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button
			class="carousel-control-next btn-carousel"
			type="button"
			data-bs-target="#card-carousel"
			data-bs-slide="next"
		>
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>
