<div class="container-fluid my-5">
	<div class="carousel carousel-dark slide" id="card-carousel">
		<!-- data-bs-ride="carousel" -->

		<div class="carousel-inner">
			<!-- SLIDE 1 -->
			<div class="carousel-item active">
				<div class="cards-wrapper">
					<!-- CARD 1 -->
					<div class="card">
						<div class="row g-0">
							<div class="d-flex align-items-center">
								<div class="col-md-5">
									<img
										src="./assets/img/molde-compressao.jpg"
										class="img-fluid rounded-start card-imagem"
										alt="Moldes de compressão"
										style="height: 100%"
									/>
								</div>
								<div class="col-md-6 px-2">
									<div class="card-body ps-3 p-0">
										<h3 class="card-title fw-bolder">
											Moldes de compressão
										</h3>
										<hr class="col-8 card-hr" />
										<p class="card-text">
											Desenvolvemos moldes de alta
											qualidade, cuidando de cada etapa do
											processo, desde o projeto 3D até a
											confecção, com ajustes para garantir
											a excelência dos nossos serviços.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- CARD 2 -->
					<div class="card align-items-center">
						<div class="row g-0">
							<div class="d-flex align-items-center">
								<div class="col-md-5">
									<img
										src="./assets/img/molde1_card1.jpg"
										class="img-fluid rounded-start card-imagem"
										alt="Matrizes de extrusão"
									/>
								</div>
								<div class="col-md-6 px-2">
									<div class="card-body ps-3 p-0">
										<h3 class="card-title fw-bolder">
											Matrizes de extrusão
										</h3>
										<hr class="col-8 card-hr" />
										<p class="card-text">
											Oferecemos matrizes de extrusão de
											borracha personalizadas, feitas com
											materiais de alta qualidade e
											tecnologia avançada, garantindo
											precisão, acabamento impecável e
											desempenho confiável.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- SLIDE 2 -->
			<div class="carousel-item">
				<div class="cards-wrapper">
					<!-- CARD 3 -->
					<div class="card align-items-center">
						<div class="row g-0">
							<div class="d-flex align-items-center">
								<div class="col-md-5">
									<img
										src="./assets/img/eletroerosao.jpeg"
										class="img-fluid rounded-start card-imagem"
										alt="Eletro-erosão"
										style="height: 100%"
									/>
								</div>
								<div class="col-md-6 px-2">
									<div class="card-body ps-3 p-0">
										<h3 class="card-title fw-bolder">
											Eletro-erosão
										</h3>
										<hr class="col-8 card-hr" />
										<p class="card-text">
											Realizamos corte de formas
											complexas, furos de alta precisão,
											acabamentos de alta qualidade e
											usinagem de pequenos lotes e
											protótipos, garantindo resultados
											superiores.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- CARD 4 -->
					<div class="card align-items-center">
						<div class="row g-0">
							<div class="d-flex align-items-center">
								<div class="col-md-5">
									<img
										src="./assets/img/usinagem-em-serie.jpeg"
										class="img-fluid rounded-start card-imagem"
										alt="Usinagem em série"
									/>
								</div>
								<div class="col-md-6 px-2">
									<div class="card-body ps-3 p-0">
										<h3 class="card-title fw-bolder">
											Usinagem em série
										</h3>
										<hr class="col-8 card-hr" />
										<p class="card-text">
											Oferecemos diversos serviços de
											usinagem, como torneamento,
											fresamento, furação, retificação e
											tratamentos térmicos, com
											equipamentos modernos para garantir
											qualidade e precisão.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<button
			class="carousel-control-prev"
			type="button"
			data-bs-target="#card-carousel"
			data-bs-slide="prev"
		>
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button
			class="carousel-control-next"
			type="button"
			data-bs-target="#card-carousel"
			data-bs-slide="next"
		>
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>
