<!-- FOOTER -->
<footer class="mt-3 text-white">
  <!-- TOP FOOTER -->
  <div class="container-fluid" id="top-footer">
      <div class="pt-0" id="bg-image">
          <div class="container">
              <!-- Lista de acesso às páginas -->
              <ul class="list-group-flush mt-5 pt-5">
                  <li class="list-group-item">
                      <a class="link-light link-underline-opacity-0 link-underline-opacity-75-hover"
                          href="./index.html">
                          <img src="./assets/icons/home_icon.svg" alt="Home" class="me-3" />Página inicial
                      </a>
                  </li>
                  <li class="list-group-item mt-3">
                      <a class="link-light link-underline-opacity-0 link-underline-opacity-75-hover"
                          href="./produtos.html">
                          <img src="./assets/icons/shopping_bag_icon.svg" alt="ícone de Produtos"
                              class="me-3" />Produtos
                      </a>
                  </li>
                  <li class="list-group-item mt-3">
                      <a class="link-light link-underline-opacity-0 link-underline-opacity-75-hover"
                          href="./contato.html">
                          <img src="./assets/icons/telephone_icon.svg" alt="Telefone" class="me-3" />Contatos
                      </a>
                  </li>
                  <li class="list-group-item mt-3">
                      <a class="link-light link-underline-opacity-0 link-underline-opacity-75-hover"
                          href="./sobre.html">
                          <img src="./assets/icons/user_icon.svg" alt="Icone de Usuário" class="me-3" />Sobre nós
                      </a>
                  </li>
              </ul>
              <!-- Meios de contato -->
              <div class="row justify-content-evenly mt-5">
                  <div class="col-3">
                      <div class="row">
                          <div class="col-3">
                              <img src="./assets/icons/map_icon.svg" alt="Mapa" class="icon-45" />
                          </div>
                          <div class="col-9">
                              <h6>Endereço</h6>
                              <p>Rua, Número |</p>
                              <p>CEP: |</p>
                              <p>Bairro - Cidade, Estado</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-3">
                      <div class="row">
                          <div class="col-3">
                              <img src="./assets/icons/e-mail_icon.svg" alt="letter" class="icon-45" />
                          </div>
                          <div class="col-9">
                              <h6>Email</h6>
                              <p>email@email.com.br</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-3">
                      <div class="row">
                          <div class="col-3">
                              <img src="./assets/icons/cellphone_icon.svg" alt="cellphone" class="icon-45" />
                          </div>
                          <div class="col-9">
                              <h6>Fale Conosco</h6>
                              <p>
                                  <img src="./assets/icons/phone_white_icon.svg" alt="Fone branco"
                                      class="icon-13" />(19) 00000-0000
                              </p>
                              <p>
                                  <img src="./assets/icons/whatsapp_icon.svg" alt="Whatsapp icon"
                                      class="icon-13" />(19) 00000-0000
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- BOTTOM FOOTER -->
  <div class="container-fluid p-5" id="bottom-footer">
      <p class="smallest-footer-text text-center mb-0">©2023. Usitop - Usinagem e Ferramentaria.<br>Todos os
          direitos reservados</p>
  </div>
</footer>

<script src="./assets/js/bundle.js"></script>
</body>

</html>