<%- include('includes/header'); -%>

<!-- CORPO -->
<div id="alert-contato" style="display: none"></div>

<div class="container-fluid my-5">
	<div class="row mb-3 justify-content-center">
		<div class="col-lg-5 text-center">
			<h1><strong>ENTRE EM CONTATO COM A GENTE</strong></h1>
			<p class="mt-2" style="font-size: 24px">
				Caso tenha alguma dúvida a respeito da nossa empresa, ou
				gostaria de iniciar um projeto conosco, ficamos a disposição
				para atendê-lo via Email.<br />Nossa equipe especializada irá te
				dar o suporte e atendimento desejado.<br />Fale conosco!
			</p>
		</div>
	</div>
	<hr class="col-md-6 offset-md-3" />
	<div class="row mt-3 justify-content-center">
		<div class="col-lg-5 text-center">
			<form
				method="post"
				action="/contato"
				class="form-group contactForm"
			>
				<div class="row">
					<div class="col-12">
						<label for="nome" style="visibility: hidden"
							>Nome</label
						>
						<input
							type="text"
							class="form-control validation"
							id="nome"
							name="nome"
							placeholder="Nome"
						/>
					</div>
					<div class="col-12 col-lg-6">
						<label for="email" style="visibility: hidden">
							Email
						</label>
						<input
							type="email"
							class="form-control validation"
							id="email"
							name="email"
							placeholder="nome@exemplo.com"
						/>
					</div>
					<div class="col-12 col-lg-6">
						<label for="telefone" style="visibility: hidden">
							Número de contato
						</label>
						<input
							type="text"
							class="form-control validation"
							id="telefone"
							name="telefone"
							placeholder="Número de contato"
						/>
					</div>
					<div class="col-12">
						<label for="message" style="visibility: hidden">
							Mensagem
						</label>
						<textarea
							class="form-control validation col-12"
							id="message"
							name="message"
							placeholder="Insira aqui sua mensagem ..."
							style="height: 150px"
						></textarea>
					</div>
				</div>
				<button
					type="submit"
					class="btn mt-3 btn-success"
					style="width: 100%"
					id="enviarFormContato"
				>
					Enviar
				</button>
				<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
			</form>
		</div>
	</div>
</div>

<style>
	hr {
		border-color: #aaa;
		box-sizing: border-box;
	}
</style>

<%- include('includes/footer') -%>
