<%- include('includes/header') -%>
<!-- CORPO -->
<div class="container-fluid px-0">
	<!-- CAROUSEL -->
	<div id="carouselCaptions" class="carousel slide">
		<div class="carousel-indicators">
			<button
				type="button"
				data-bs-target="#carouselCaptions"
				data-bs-slide-to="0"
				class="active"
				aria-current="true"
				aria-label="Slide 1"
			></button>
			<button
				type="button"
				data-bs-target="#carouselCaptions"
				data-bs-slide-to="1"
				aria-label="Slide 2"
			></button>
			<button
				type="button"
				data-bs-target="#carouselCaptions"
				data-bs-slide-to="2"
				aria-label="Slide 3"
			></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="./assets/img/molde3.jpeg" class="d-block w-100" />
				<div class="carousel-caption d-none d-md-block montserrat">
					<h1 class="league-spartan display-3 fw-bold">
						Uma empresa pronta<br />para suas nescessidades
					</h1>
					<p>
						Peças em série, moldes, matrizes e outros projetos de
						usinagem...<br />estamos prontos pra tudo!
					</p>
				</div>
			</div>
			<div class="carousel-item">
				<img src="./assets/img/molde1.jpg" class="d-block w-100" />
				<div class="carousel-caption d-none d-md-block">
					<h1 class="league-spartan display-3 fw-bold">
						Moldes de compressão<br />unicavidade
					</h1>
					<p>Menos desperdício e mais precisão na sua produção!</p>
				</div>
			</div>
			<div class="carousel-item">
				<img src="./assets/img/molde2.jpg" class="d-block w-100" />
				<div class="carousel-caption d-none d-md-block">
					<h1 class="league-spartan display-3 fw-bold">
						Detalhes únicos que<br />transformam o produto
					</h1>
					<p>
						Compromisso com a qualidade e a precisão em nossos
						moldes de compressão!
					</p>
				</div>
			</div>
		</div>
		<button
			class="carousel-control-prev prev-teste1"
			type="button"
			data-bs-target="#carouselCaptions"
			data-bs-slide="prev"
		>
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button
			class="carousel-control-next next-teste1"
			type="button"
			data-bs-target="#carouselCaptions"
			data-bs-slide="next"
		>
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

	<!-- HERO 1 -->
	<div class="px-4 py-5 my-5 text-center">
		<img
			class="d-block mx-auto mb-4"
			src="./assets/img/icone_escuro_g.png"
			height="80"
		/>
		<h1 class="display-5 fw-bold text-body-emphasis montserrat">
			Sobre nós
		</h1>
		<div class="col-10 col-lg-6 mx-auto">
			<p class="lead mb-4">
				A Usitop Usinagem e Ferramentaria é uma empresa experiente que
				está no mercado para atender seus clientes de maneira
				satisfatória, viabilizando o custo-benefício com a máxima
				qualidade nos serviços prestados.
			</p>
		</div>
	</div>

	<!-- HERO 2 -->
	<div class="p-5 my-5 text-center" id="bg-container-green">
		<div class="container">
			<div class="row text-light">
				<div class="col-12 col-xl-6 mt-3 my-xl-3">
					<img
						class="d-block mx-auto mb-4"
						id="value"
						src="./assets/icons/value.svg"
						height="80"
					/>
					<h1 class="display-5 fw-bold montserrat">Nossos valores</h1>
					<div class="col-10 col-lg-8 mx-auto">
						<p class="mb-4">
							Nossas relações são baseadas em: qualidade, melhoria
							continua, comprometimento, transparência, confiança,
							cooperação, integridade, inovação e
							sustentabilidade.
						</p>
					</div>
				</div>
				<div class="col-12 col-xl-6 mt-5 my-xl-3">
					<img
						class="d-block mx-auto mb-4"
						src="./assets/icons/mission.svg"
						height="80"
					/>
					<h1 class="display-5 fw-bold montserrat">Nossa missão</h1>
					<div class="col-10 col-lg-8 mx-auto">
						<p class="mb-4">
							Satisfazer as necessidades do mercado com serviços e
							produtos de qualidade e alta tecnologia, destinados
							a usinagem em geral, proporcionando rentabilidade e
							respeitando sempre o indivíduo, a sociedade e o meio
							ambiente.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- CARD CAROUSEL -->
	<h1 class="text-center montserrat-700">Nossas especialidades</h1>
	<div class="container-fluid my-5">
		<div id="carousel50" style="display: none">
			<%- include("includes/carousel50") %>
		</div>
		<div id="carousel100" style="display: none">
			<%- include("includes/carousel100") %>
		</div>

		<!-- Client-side script to show the appropriate carousel -->
		<script>
			document.addEventListener('DOMContentLoaded', function () {
				if (window.innerWidth > 768) {
					document.getElementById('carousel50').style.display =
						'block';
				} else {
					document.getElementById('carousel100').style.display =
						'block';
				}
			});
		</script>
	</div>

	<!-- HERO MENSAGEM -->
	<div class="px-4 py-5 mt-5 text-right col-lg-6 w-100" id="hero-message">
		<h1
			class="display-5 fw-bold text-body-emphasis montserrat"
			id="text-color"
		>
			Precisa de uma solução?<br />Entre em contato!
		</h1>
		<form action="/contato" method="get">
			<button
				type="button submit"
				class="btn btn-lg w-50 mt-3 mb-5 col-12"
				id="btn-message"
			>
				Envie uma mensagem
			</button>
		</form>
	</div>
</div>
<%- include('includes/footer') -%>
