<%- include('includes/header') -%>

<!-- CORPO -->
<div class="container-fluid px-0">
	<!-- CAROUSEL -->
	<div id="carouselCaptions" class="carousel slide">
		<div class="carousel-indicators">
			<button
				type="button"
				data-bs-target="#carouselCaptions"
				data-bs-slide-to="0"
				class="active"
				aria-current="true"
				aria-label="Slide 1"
			></button>
			<button
				type="button"
				data-bs-target="#carouselCaptions"
				data-bs-slide-to="1"
				aria-label="Slide 2"
			></button>
			<button
				type="button"
				data-bs-target="#carouselCaptions"
				data-bs-slide-to="2"
				aria-label="Slide 3"
			></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="./assets/img/molde3.jpeg" class="d-block w-100" />
				<div class="carousel-caption d-none d-md-block montserrat">
					<h1>Uma empresa pronta<br />para suas nescessidades</h1>
					<p>
						Peças em série, moldes, matrizes e outros projetos de
						usinagem...<br />estamos prontos pra tudo!
					</p>
				</div>
			</div>
			<div class="carousel-item">
				<img src="./assets/img/molde1.jpg" class="d-block w-100" />
				<div class="carousel-caption d-none d-md-block">
					<h1>Moldes de compressão<br />unicavidade</h1>
					<p>Menos desperdício e mais precisão na sua produção!</p>
				</div>
			</div>
			<div class="carousel-item">
				<img src="./assets/img/molde2.jpg" class="d-block w-100" />
				<div class="carousel-caption d-none d-md-block">
					<h1>Detalhes únicos que<br />transformam o produto</h1>
					<p>
						Compromisso com a qualidade e a precisão em nossos
						moldes de compressão!
					</p>
				</div>
			</div>
		</div>
		<button
			class="carousel-control-prev prev-teste1"
			type="button"
			data-bs-target="#carouselCaptions"
			data-bs-slide="prev"
		>
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button
			class="carousel-control-next next-teste1"
			type="button"
			data-bs-target="#carouselCaptions"
			data-bs-slide="next"
		>
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
	
	<!-- HERO 1 -->
	<div class="px-4 py-5 my-5 text-center">
		<img
			class="d-block mx-auto mb-4"
			src="./assets/img/icone_escuro_g.png"
			height="80"
		/>
		<h1 class="display-5 fw-bold text-body-emphasis montserrat">
			Sobre nós
		</h1>
		<div class="col-lg-6 mx-auto">
			<p class="lead mb-4">
				Nossas relações são baseadas em: qualidade, melhoria continua,
				comprometimento, transparência, confiança, cooperação,
				integridade, inovação e sustentabilidade.
			</p>
		</div>
	</div>

	<!-- HERO 2 -->
	<div class="p-5 my-5 text-center" id="bg-container-green">
		<div class="container">
			<div class="row text-light">
				<div class="col-12 col-sm-6">
					<img
						class="d-block mx-auto mb-4"
						id="value"
						src="./assets/icons/value.svg"
						height="80"
					/>
					<style>
						#value {
							fill: fff;
						}
					</style>
					<h1 class="display-5 fw-bold montserrat">Nossos valores</h1>
					<div class="col-lg-6 mx-auto">
						<p class="mb-4">
							Nossas relações são baseadas em: qualidade, melhoria
							continua, comprometimento, transparência, confiança,
							cooperação, integridade, inovação e
							sustentabilidade.
						</p>
					</div>
				</div>
				<div class="col-12 col-sm-6">
					<img
						class="d-block mx-auto mb-4"
						src="./assets/icons/mission.svg"
						height="80"
					/>
					<h1 class="display-5 fw-bold montserrat">Nossa missão</h1>
					<div class="col-lg-6 mx-auto">
						<p class="mb-4">
							Satisfazer as necessidades do mercado com serviços e
							produtos de qualidade e alta tecnologia, destinados
							a usinagem em geral, proporcionando rentabilidade e
							respeitando sempre o indivíduo, a sociedade e o meio
							ambiente.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- CARD CAROUSEL -->
	<h3 class="text-center fw-bolder">Nossas especialidades</h3>
	<div class="container-fluid my-5">
		<div
			id="carouselExample"
			class="carousel carousel-dark slide"
			data-bs-ride="carousel"
		>
			<div class="carousel-inner">
				<!-- SLIDE 1 -->
				<div class="carousel-item active">
					<div class="cards-wrapper">
						<!-- CARD 1 -->
						<div class="card mb-3 ms-5">
							<div class="row g-0">
								<div class="d-flex align-items-center">
									<div class="col-md-4">
										<img
											src="./assets/img/molde1_card1.jpg"
											class="img-fluid rounded-start"
											alt="..."
										/>
									</div>
									<div class="col-md-8 px-5">
										<div class="card-body">
											<h3 class="card-title fw-bolder">
												Moldes de compressão
											</h3>
											<p class="card-text">
												Desenvolvemos moldes de
												excelente qualidade com atenção
												máxima a cada uma das suas
												etapas: desde o projeto 3D até a
												confecção, com todos os ajustes
												necessários para garantir a
												excelência dos nossos serviços.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- CARD 2 -->
						<div class="card mb-3 me-5">
							<div class="row g-0">
								<div class="d-flex align-items-center">
									<div class="col-md-4">
										<img
											src="./assets/img/molde1_card1.jpg"
											class="img-fluid rounded-start"
											alt="..."
										/>
									</div>
									<div class="col-md-8 px-5">
										<div class="card-body">
											<h3 class="card-title fw-bolder">
												Moldes de compressão
											</h3>
											<p class="card-text">
												Desenvolvemos moldes de
												excelente qualidade com atenção
												máxima a cada uma das suas
												etapas: desde o projeto 3D até a
												confecção, com todos os ajustes
												necessários para garantir a
												excelência dos nossos serviços.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--SLIDE 2 -->
				<div class="carousel-item">
					<div class="cards-wrapper">
						<!-- CARD 3 -->
						<div class="card mb-3 ms-5">
							<div class="row g-0">
								<div class="d-flex align-items-center">
									<div class="col-md-4">
										<img
											src="./assets/img/molde1_card1.jpg"
											class="img-fluid rounded-start"
											alt="..."
										/>
									</div>
									<div class="col-md-8 px-5">
										<div class="card-body">
											<h3 class="card-title fw-bolder">
												Moldes de compressão
											</h3>
											<p class="card-text">
												Desenvolvemos moldes de
												excelente qualidade com atenção
												máxima a cada uma das suas
												etapas: desde o projeto 3D até a
												confecção, com todos os ajustes
												necessários para garantir a
												excelência dos nossos serviços.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- CARD 4 -->
						<div class="card mb-3 me-5">
							<div class="row g-0">
								<div class="d-flex align-items-center">
									<div class="col-md-4">
										<img
											src="./assets/img/molde1_card1.jpg"
											class="img-fluid rounded-start"
											alt="..."
										/>
									</div>
									<div class="col-md-8 px-5">
										<div class="card-body">
											<h3 class="card-title fw-bolder">
												Moldes de compressão
											</h3>
											<p class="card-text">
												Desenvolvemos moldes de
												excelente qualidade com atenção
												máxima a cada uma das suas
												etapas: desde o projeto 3D até a
												confecção, com todos os ajustes
												necessários para garantir a
												excelência dos nossos serviços.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button
				class="carousel-control-prev"
				type="button"
				data-bs-target="#carouselExample"
				data-bs-slide="prev"
			>
				<span
					class="carousel-control-prev-icon"
					aria-hidden="true"
				></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button
				class="carousel-control-next"
				type="button"
				data-bs-target="#carouselExample"
				data-bs-slide="next"
			>
				<span
					class="carousel-control-next-icon"
					aria-hidden="true"
				></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>

	<!-- HERO MENSAGEM -->

	<div class="px-4 py-5 mt-5 text-right col-lg-6 w-100" id="hero-message">
		<h1
			class="display-5 fw-bold text-body-emphasis montserrat"
			id="text-color"
		>
			Precisa de uma solução?<br />Entre em contato!
		</h1>
		<form action="/contato" method="get">
			<button
				type="button submit"
				class="btn btn-lg w-50 mt-3 mb-5"
				id="btn-message"
			>
				Envie uma mensagem
			</button>
		</form>
	</div>
</div>
<%- include('includes/footer') -%>
