<%- include('includes/header') -%>

<!-- CORPO -->
<h1 class="my-5 py-5 text-center"><strong>Produtos</strong></h1>
<section class="container-fluid" id="productsInformationsSection">
	<div class="row row-col-2">
		<!-- card de moldes -->
		<div
			id="moldes"
			class="col-12 col-lg-6 card-bold text-white content-container-products-info"
		>
			<p class="card-title produtos" id="title-moldes">Moldes</p>
			<p class="card-content w-75" style="display: none" id="text-moldes">
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima
				laboriosam delectus aliquam, perferendis nulla veritatis eaque
				dolores dolor odit reiciendis dicta fuga assumenda enim
				inventore neque! Nihil architecto esse culpa!
			</p>
			<button
				class="btn btn-outline-light rounded-0 w-25 readMore"
				id="btn-moldes"
			>
				Leia Mais
			</button>
		</div>

		<!-- card-matrizes -->
		<div id="matrizes" class="col-12 col-lg-6"></div>

		<!-- card-eletro-erosão -->
		<div id="eletro-erosao" class="col-12 col-lg-6"></div>

		<!-- card usinagens -->
		<div id="usinagens" class="col-12 col-lg-6"></div>
	</div>
</section>

<!-- Fale Conosco -->

<div class="py-5 my-5 productsCallToAction">
	<h3 class="col-lg-4">Tem interesse? Entre em contato com a gente!</h3>
	<a
		href="/contato"
		class="btn text-white rounded col-lg-3 align-content-center"
		id="produtos-btn-contato"
		>Envie uma mensagem</a
	>
</div>

<%- include('includes/footer') -%>
