<%- include('includes/header') -%>

    <!-- CORPO -->
    <div class="row mb-3 justify-content-center">
        <div class="col-lg-5 text-center my-5">
            <h1><strong>Produtos</strong></h1>
            <p class="mt-3">
                Confira mais informações sobre os produtos e serviços que prestamos aqui na Usitop! <br>Se precisar de
                alguma solução especial, entre em contato hoje mesmo e garanta seu produto!
            </p>
        </div>
    </div>

    <!-- SEÇÃO PRODUTOS -->
    <section class="container-fluid" id="productsInformationsSection">
        <div class="row row-col-2">
            <!-- card de moldes -->
            <div id="moldes" class="col-12 col-xl-6 text-white card-bold content-container-products-info">
                <p class="card-title produtos" id="title-moldes">Moldes</p>
                <p class="card-content w-75" style="display: none" id="text-moldes">
                    Moldes sob medida para sua produção. Nossos moldes são confeccionados com precisão e materiais de
                    alta qualidade, garantindo peças com acabamento impecável e alta durabilidade. Desenvolvemos
                    soluções personalizadas para atender às suas necessidades específicas. <br><br>

                    Sua ideia, nosso molde. Transformamos seus projetos em realidade. Contamos com uma equipe
                    especializada e maquinário de última geração para criar moldes que superam suas expectativas.
                </p>
                <button class="btn btn-outline-light rounded-0 w-25 readMore" id="btn-moldes">
                    Leia Mais
                </button>
            </div>

            <!-- card-matrizes -->
            <div id="matrizes" class="col-12 col-xl-6 text-white card-light content-container-products-info">
                <p class="card-title produtos" id="title-matrizes">Matrizes</p>
                <p class="card-content w-75" style="display: none" id="text-matrizes">
                    Extrusão de alta performance. Fabricamos matrizes de extrusão com tolerâncias mínimas, garantindo
                    produtos finais com as características desejadas. Nossos processos garantem a precisão dimensional e
                    o perfeito acabamento da matriz. <br><br>

                    O formato ideal para seu produto. Desenvolvemos matrizes de extrusão sob medida para diferentes
                    tipos de materiais e perfis, otimizando seus processos produtivos.
                </p>
                <button class="btn btn-outline-light rounded-0 w-25 readMore" id="btn-matrizes">
                    Leia Mais
                </button>
            </div>

            <!-- card-eletro-erosão -->
            <div id="eletro-erosao" class="col-12 col-xl-6 text-white card-bold content-container-products-info">
                <p class="card-title produtos" id="title-eletro-erosao">
                    Eletro-erosão
                </p>
                <p class="card-content w-75" style="display: none" id="text-eletro-erosao">
                    Precisão milimétrica em cada detalhe. A eletroerosão nos permite realizar cortes complexos em
                    materiais condutores com alta precisão. Ideal para a produção de peças com geometrias complexas e
                    tolerâncias mínimas. <br><br>

                    Materiais especiais, soluções precisas. Trabalhamos com diversos tipos de materiais, garantindo a
                    melhor solução para cada aplicação. A eletroerosão é a tecnologia ideal para peças que exigem alta
                    precisão e acabamento.
                </p>
                <button class="btn btn-outline-light rounded-0 w-25 readMore" id="btn-eletro-erosao">
                    Leia Mais
                </button>
            </div>

            <!-- card usinagens -->
            <div id="usinagens" class="col-12 col-xl-6 text-white card-light content-container-products-info">
                <p class="card-title produtos" id="title-usinagens">Usinagens</p>
                <p class="card-content w-75" style="display: none" id="text-usinagens">
                    Produção em grande escala com qualidade. Nossa linha de produção é equipada com máquinas CNC de alta
                    precisão, garantindo a repetibilidade e a qualidade de cada peça produzida em série. <br><br>

                    Peças sob medida para sua linha de produção. Realizamos usinagem em série de acordo com seus
                    desenhos técnicos, garantindo a entrega rápida e eficiente de peças com as especificações exatas.
                </p>
                <button class="btn btn-outline-light rounded-0 w-25 readMore" id="btn-usinagens">
                    Leia Mais
                </button>
            </div>
        </div>
    </section>

    <!-- Fale Conosco -->

    <div class="py-5 my-5 productsCallToAction">
        <h3 class="col-10 col-md-8 col-lg-4 text-center">
            Tem interesse? Entre em contato com a gente!
        </h3>
        <a href="/contato" class="btn text-white rounded col-lg-3 align-content-center" id="produtos-btn-contato">Envie
            uma mensagem</a>
    </div>

    <%- include('includes/footer') -%>