<%- include('includes/header') -%>

<!-- CORPO -->
<h1 class="my-5 py-5 text-center"><strong>Produtos</strong></h1>
<section class="mt-5 pt-5" id="productsInformationsSection">
    <div class="col">
        <div class="row">
            <div class="light-products-container" id="moldes">
                <h1>Moldes</h1>
                <button class="readMore">Leia Mais</button>
                <div class="inject-content"></div>
            </div>
            <div class="bold-products-container" id="matrizes">
                <h1>Matrizes</h1>
                <button class="readMore">Leia Mais</button>
                <div class="inject-content"></div>
            </div>
        </div>
        <div class="row">
            <div class="bold-products-container" id="eletroErosao">
                <h1>Eletro Erosão</h1>
                <button class="readMore">Leia Mais</button>
                <div class="inject-content"></div>
            </div>
            <div class="light-products-container" id="usinagens">
                <h1>Usinagens</h1>
                <button class="readMore">Leia Mais</button>
                <div class="inject-content"></div>
            </div>
        </div>
    </div>
</section>

<!-- <div class="container-fluid">
<div class="row">
<div class="card produtos text-white" id="card-moldes">
<p class="card-title produtos">Moldes</p>
<a href="#" class="btn btn-outline-light">Leia Mais</a>
</div>
</div>
</div> -->

<!-- Fale Conosco -->
<div class="row pt-5 mt-5 justify-content-evenly">
    <h3 class="col-lg-4">
        Tem interesse? Entre em contato com a gente!
    </h3>
    <a
        href="/contato"
        class="btn text-white rounded col-lg-3 align-content-center"
        id="produtos-btn-contato"
        >Envie uma mensagem</a
    >
</div>

<%- include('includes/footer') -%>