<%- include('includes/header') -%>

<!-- CORPO -->
<div class="container-fluid my-5" id="sobre-container">
	<div class="row justify-content-center">
		<img
			class="col-lg-4 col-md-6"
			src="./assets/img/LogoNome.png"
			alt="Usitop Logo"
		/>
	</div>
	<div class="row mt-3 justify-content-center">
		<h2 class="col-lg-5 col-md-6 text-center">
			Nossas relações são baseadas em: qualidade, melhoria continua,
			comprometimento, transparência, confiança, cooperação, integridade,
			inovação e sustentabilidade.
		</h2>
	</div>

	<!-- MISSÃO -->
	<div class="row pt-5 mt-5 justify-content-center">
		<img
			class="mx-3"
			src="./assets/icons/mission.svg"
			alt="Alvo com uma flecha"
			id="sobre-icon"
		/>
		<div class="col-lg-5">
			<h2><strong>MISSÃO</strong></h2>
			<h4>
				Satisfazer as necessidades do mercado com serviços e h4rodutos
				de qualidade e alta tecnologia, destinados a usinagem em geral,
				proporcionando rentabilidade e respeitando sempre o indivíduo, a
				sociedade e o meio ambiente.
			</h4>
		</div>
	</div>

	<!-- VALORES -->
	<div class="row pt-5 mt-5 justify-content-center">
		<div class="col-lg-5 text-end">
			<h2><strong>VALORES</strong></h2>
			<h4>
				Nossas relações são baseadas em: Qualidade, melhoria continua,
				comprometimento, transparência, confiança, cooperação,
				integridade, inovação e sustentabilidade.
			</h4>
		</div>
		<img
			class="mx-3"
			src="./assets/icons/value.svg"
			alt="Alvo com uma flecha"
			id="sobre-icon"
		/>
	</div>

	<!-- Fale conosco -->
	<div class="row pt-5 mt-5 justify-content-evenly">
		<h3 class="col-lg-4">
			Tem alguma dúvida? Quer conhecer nosso método de trabalho?
		</h3>
		<a
			href="/contato"
			class="btn text-white rounded col-lg-3 align-content-center"
			id="sobre-btn-contato"
			>Envie uma mensagem</a
		>
	</div>
</div>

<%- include('includes/footer') -%>
